.git
.gitignore
.nx
**/.next
**/dist
**/test-output
node_modules
coverage
.env*
**/.eslintrc.json
**/.eslintrc.js
**/.eslintrc.cjs
**/*.md
**/tsconfig.json
**/tsconfig*.json
**/jest.config.ts
**/jest.config.js
**/jest.config.cjs
**/jest.preset.js
**/src
**/*.spec.ts
**/*.spec.js
**/*.test.ts
**/*.test.js
.vscode
.github
specs
tools
docs
infrastructure/nginx
infrastructure/.prettierrc
infrastructure/.prettierignore
AGENTS.md
CLAUDE.md
.prettierrc
.prettierignore
eslint.config.mjs
nx.json
prettier.config.js
